*.egg-info
.idea
outputs
logs
wandb
MUJOCO_LOG.TXT
.vscode
__pycache__/
*.pyc
.planning/
.DS_Store
CLAUDE.md
.rclone-exclude
.claude/settings.json
*.mp4
*.csv
*.github
build
.pre-commit-config.yaml
mp4_to_gif.py
remote_sync/
puppet_data/
